---
layout : default
---
<div id="page-indicator">
  <button class="page-indicator-button">
    <div class="indicator-text font-Dosis">
      About me -
    </div>
    <div class="indicator-dot activated"></div>
  </button>
  <button class="page-indicator-button">
    <div class="indicator-text font-Dosis">
      My skills -
    </div>
    <div class="indicator-dot"></div>
  </button>
  <button class="page-indicator-button">
    <div class="indicator-text font-Dosis">
      My works -
    </div>
    <div class="indicator-dot long"></div>
  </button>
</div>
<div id="about-me" class="scroll-area content-container">
  <div class="content-wrapper container-md">
    <div id="about-me-content">
      <div id="introduction">
        <h1 class="Main-color font-Raleway" style="font-weight: bold">{{ site.introduction.greeting }}</h1>
        <h2 class="SubText-color font-Raleway" style="font-weight: bold;">
          Lorem Ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <h4 class="Bright-color font-Dosis">
          {{ site.introduction.introductionAboutMe }}
        </h4>
      </div>
    </div>
    <button id="show-detail-button" class="Bright-color font-Dosis" type="button"
      onclick="window.open('{{ site.blogurl }}')">See My learning!</button>
  </div>
  <div class="Design-text">
    About
  </div>
  <!--<img id="about-banner" src="/assets/img/about-banner.png">-->
</div>
<div id="about-my-skill-page" class="scroll-area content-container">
  <div id="about-my-skill-contents">
    <div>
      <div id="about-my-skill-title">
        <h2 class="Bright-color">My Skills</h2>
      </div>
      <div id="skill-icons">
        {% for item in site.skillImageIcon %}
          <div class="skill-img">
            <img
              class="skill-img-src"
              src="{{ item.src }}"
              ">
          </div>
        {% endfor %}
      </div>
      <button
        id="show-detail-button"
        class="btn btn-primary font-Dosis"
        name="detail-button">See Detail!</button>
    </div>
    <div id="about-my-skill-detail">
      {% for item in site.skillDetail %}
        <div class="about-my-skill-container">
          <div class="skill-name Bright-color">
            {{ item.skillName }}
          </div>
          <div class="skill-detail Bright-color">
            {{ item.skillDetail }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="Design-text">
    Skills
  </div>
</div>
<div id="about-my-work" class="scroll-area content-container">
  <div class="Design-text">
    Works
  </div>
</div>