---
layout: default
---
<div id="banner">
    <div id="bannerbackgroundimg"><img id="bannerbackgroundimgsource" src="{{ page.mainimgsrc }}" alt="bannerbackground"></div>
    <div id="bannerimg"><img id="bannerimgsource" class="container-md" src="{{ page.mainimgsrc }}" alt="banner"></div>
    <div id="posttitleform" class="container-md">
        <br/><br/><br/><br/>
        <div id="posttitle"><h1 style="color:aliceblue">{{ page.title }}</h1></div>
        <br/><br/><br/>
        <div id="date"><h5>{{ page.date }}</h6></div>
    </div> 
</div>
<div id="postcontent">
    {{ content }}
</div>