html,body{
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.scroll-container{
    overflow: auto;
}
.scroll-area{
    scroll-snap-align: start;
}
#big{
    width: 100%;
}
#about-me{
    height: 100vh;
    position:relative;
    width: 100%;
    background-color: aliceblue;
    box-sizing: border-box;
}
#about-me-content{
    display: flex;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    align-items: center;
}
#introduction{
    width: 70%;
}
#id-charactor{
    background-color: white;
    border-radius: 100%;
}
#my-charactor-img{
    height: 200px;
}
#about-my-skill{
    height: 100vh;
}
#about-my-work{
    min-height: 150vh;
}