//scroll-snap settings
html,body{
    scroll-snap-type: y mandatory;
    overflow: auto;
}
.scroll-container{
    overflow: auto;
}
.scroll-area{
    scroll-snap-align: start;
}

//root setting
:root{
    --Main-color : #8CBDB9;
    --Bright-color : #E0E7E9;
    --SubText-color : #8FA8A8;
    --Shadow-color : #6D7B8C;
    --Background-color : #354649;
    --Background-Brighter-color: #3c5358;
    --Accent-color : #E5B680;
}
body{
    background-color: var(--Background-color);
}

//color setting
.Main-color { color: var(--Main-color); }
.Bright-color { color: var(--Bright-color); }
.Shadow-color { color: var(--Shadow-color); }
.Background-color { color: var(--Background-color); }
.Accent-color { color: var(--Accent-color); }
.SubText-color { color: var(--SubText-color); }

//page indicator setting
#page-indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: fixed;
    top:45%;
    right: 0%;
    z-index: 1 ;
    margin-right: 20px;
}
.indicator-dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var( --Main-color);
    margin: 5px;
}
.page-indicator-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}
.long{
    height: 24px;
    border-radius: 50%/25%;
}
.indicator-text{
    color: var(--SubText-color);
    display: none;
}
.activated{
    background-color: var(--Bright-color);
}
.indicator-text:hover{
    color: var(--Bright-color);
}


//1st page
#about-me{
    height: 100vh;
    position:relative;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
#about-banner{
    position: absolute;
    height: 200vh;
    top: -50%;
    right: calc(-40vh + 10vw);
}
.content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
#about-me-content{
    display: flex;
    width: 80%;
    margin-top: 120px;
}
.font-Dosis{
    font-family: 'Dosis', sans-serif;
}
.font-Raleway{
    font-family: 'Raleway', sans-serif;
}
#about-me-content::before{
    width: 10px;
    height: 100%;
    content: "　";
    background-color: var(--Accent-color);
    margin-right: 20px;
}
#introduction{
    width: 75%;
}
#id-charactor{
    background-color: white;
    border-radius: 100%;
}
#my-charactor-img{
    height: 200px;
}
#show-detail-button{
    width: 15%;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 120px;
    background: none;
    border: 2px solid var(--Main-color); 
    height: 3em;
    
}

//2nd page
#about-my-skill-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Background-color);
}
#about-my-skill-contents{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#skill-icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.skill-img{
    background-color: var(--SubText-color);
    border-radius: 35px;
    flex-basis: 20%;
}
.skill-img-src{
    width: 100%;
    cursor: pointer;
}
#about-my-skill-detail{
    display: none;
    flex-direction: column;
    min-height: 30%;
    margin-bottom: 50px;
}
#proficiency-part, #interest-part{
    margin: 5px;
}
.interest-and-proficiency, .interest-and-proficiency{
    height: 20px;
}
.skill-detail{
    height: 180px;
}

//3rd page
#about-my-work{
    min-height: 150vh;
    background-color: var(--Background-color);
}