//scroll-snap settings
html,body{
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}
.scroll-container{
    overflow: auto;
}
.scroll-area{
    scroll-snap-align: start;
}


//root setting
:root{
    --Main-color : #8CBDB9;
    --Bright-color : #E0E7E9;
    --SubText-color : #8FA8A8;
    --Shadow-color : #6D7B8C;
    --Background-color : #354649;
    --Background-Brighter-color: #3c5358;
    --Accent-color : #E5B680;
    --Accent-Brighter-color: #FFDCB3;
}
body{
    background-color: var(--Background-color);
}
.horizontal-flex{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.Title{
    color: var(--Bright-color);
    font-family: Raleway, sans-serif;
}
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

//color setting
.Main-color { color: var(--Main-color); }
.Bright-color { color: var(--Bright-color); }
.Shadow-color { color: var(--Shadow-color); }
.Background-color { color: var(--Background-color); }
.Accent-color { color: var(--Accent-color); }
.SubText-color { color: var(--SubText-color); }

//page indicator setting
#page-indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: fixed;
    top:45%;
    right: 0%;
    z-index: 1 ;
    margin-right: 20px;
}
.indicator-dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var( --Main-color);
    margin: 8px;
}
.page-indicator-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
}
.long{
    height: 24px;
    border-radius: 50%/25%;
}
.indicator-text{
    color: var(--SubText-color);
    display: none;
}
.activated{
    background-color: var(--Bright-color);
}
.indicator-text:hover{
    color: var(--Bright-color);
}
.Design-text{
    font-size: 25rem;
    font-weight: bolder;
    color: var(--Background-Brighter-color);
    position: absolute;
    bottom: -16%;
    right: -3%;
    margin-bottom: 0;
    z-index: -1;
}
.content-container{
    position: relative;
}
.width-15{
    width: 15%;
}

//1st page
#about-me{
    height: 100vh;
    position:relative;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}
#about-banner{
    position: absolute;
    height: 200vh;
    top: -50%;
    right: calc(-40vh + 10vw);
}
.content-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}
#about-me-content{
    display: flex;
    width: 80%;
    margin-top: 12rem;
    margin-right: 15rem;
}
.font-Dosis{
    font-family: 'Dosis', sans-serif;
    font-size: large;
}
.font-Raleway{
    font-family: 'Raleway', sans-serif;
}
.beforeLeftLine{
    position: relative;
}
.beforeLeftLine::before{
    position: absolute;
    width: 3px;
    height: 80%;
    content: "";
    background: linear-gradient(to top,var(--Accent-color), var(--Accent-Brighter-color),);
    left: -3px;
    margin-left: 15px;
}
.afterUnderLine::after{
    position: absolute;
    content: "";
    width: 100%;
    display: block;
    height: 5px;
    background: linear-gradient(to right,var(--Accent-color), var(--Accent-Brighter-color),);
}
#introduction{
    width: 85%;
    position: relative;
}
#introduction::before{
    position: absolute;
    width: 10px;
    height: 100%;
    content: "";
    background: linear-gradient(to top,var(--Accent-color), var(--Accent-Brighter-color),);
    left: -20px;
}
#id-charactor{
    background-color: white;
    border-radius: 100%;
}
#my-charactor-img{
    height: 200px;
}
.show-detail-button{
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 120px;
    background: none;
    border: 2px solid var(--Main-color); 
    height: 2.5rem;
}
.show-detail-button:hover{
    background-color: var(--Main-color);
    color: var(--Background-color);
    font-weight: 900;
}

//2nd page
#about-my-skill-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#about-my-skill-contents{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#about-my-skill-title{
    width: 100%;
    margin-bottom: 60px;
}
#about-my-skill-title h2{
    text-align: left;
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}
#skill-icons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 10px;
}
.skill-img{
    background-color: var(--SubText-color);
    border-radius: 35px;
    flex-basis: 20%;
}
.skill-img-src{
    width: 100%;
    cursor: pointer;
}
.skill-name{
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}
#about-my-skill-detail{
    width: 90%;
    display: none;
    flex-direction: column;
    min-height: 30%;
}
#proficiency-part, #interest-part{
    margin: 5px;
}
.interest-and-proficiency, .interest-and-proficiency{
    height: 20px;
}
.skill-detail{
    height: 180px;
}
.description{
    width: 100%;
    padding-left: 20px;
    text-align: left;
    min-height: 200px;
}
.description p{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--Bright-color);
}

//3rd page
#about-my-work{
    min-height: 180vh;
    width: 100%;
    overflow: hidden;
    position: relative;;
}
#about-my-Work-container{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 140px;
}
#about-my-Work-title{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
}
#about-my-Work-title h2{
    text-align: left;
    position: relative;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}
#about-my-Work-Main{
    height: 65vh;
    width: 100%;
    display: flex;
    position: relative;
}
#main-content-img{
    position: absolute;
    top: 45%;
    left: 32%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 60%;
}
#main-content-img img{
    width: 100%;
    height: 100%;
    
}
#main-content-description-section{
    width: 40%;
    height: 45%;
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 72%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-flow: column;
    align-items: center;
}
#main-content-description{
    background-color: var(--SubText-color);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#main-content-description-title{
    color: var(--Bright-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: x-large;
}
#main-content-description-text{
    color: var(--Bright-color);
    font-family: Dosis, sans-serif;
    font-weight: 600;
}
#main-content-description-button{
    width: 30%;
    height: 3rem;
}
#about-my-Work-another{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.Wrap-item{
    width: 30%;
    height: 30vh;
    background-color: var(--SubText-color);
    margin: 5px;
}
.Wrap-item img{
    width: 100%;
    height: 100%;
}
#semi-footer{
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
}
#semi-footer img{
    width: 100%;
    height: 100%;
}
#semi-footer::before{
    content: "";
}
#semi-footer::after{
    content: "";
}